<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
</head>
<body>
    <h3>Customer List</h3>
    <table>
        <th>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </th>
{% for customer in customer%}
<tr>
    <td>{{customer.name}}</td>
    <td>{{customer.description}}</td>
    <td>{{customer.price}}</td>
    <td><a href="{%url customer details id=customer.id%}">View customer</a></td>
</tr>
{% endfor %}
    </table>
</body>
</html>