<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corder List</title>
</head>
<body>
    <h3>order List</h3>
    <table>
        <th>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </th>
{% for order in order%}
<tr>
    <td>{{orderdescription}}</td>
    <td>{{order.price}}</td>
    <td><a href="{%url corder details id=corder.id%}">View orderr</a></td>
</tr>
{% endfor %}
    </table>
</body>
</html>