<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart List</title>
</head>
<body>
    <h3>Cart List</h3>
    <table>
        <th>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </th>
{% for customer in customer%}
<tr>
    <td>{{cart.name}}</td>
    <td>{{cart.description}}</td>
    <td>{{cart.price}}</td>
    <td><a href="{%url cart details id=customer.id%}">View cart</a></td>
</tr>
{% endfor %}
    </table>
</body>
</html>